#header2-8 P {
  text-align: center;
  color: #f1c050;
  font-size: 20px;
}
#header2-8 B {
  color: #0275d8;
}
#content5-g .mbr-section-title {
  text-align: left;
}
#social-buttons1-l .mbr-section-title {
  font-size: 25px;
}
#footer1-p P {
  color: #000000;
  text-align: center;
  font-size: 20px;
}
#footer1-p B {
  color: #d9534f;
}
